* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: hsl(210, 36%, 96%);
  font-family: sans-serif;
}

.preloader {
  width: 100%;
  height: 100%;
  margin: 3rem;
  color: rgb(43, 42, 42);
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-transform: capitalize;
}

.hide-preloader {
  display: none;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.hide-content {
  display: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-transform: capitalize;
  color: rgb(43, 42, 42);
  font-size: 2.5rem;
  letter-spacing: 2px;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

.underline {
  width: 150px;
  height: 4px;
  background-color: hsl(205, 78%, 60%);
}

.profiles-container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}

.single-profile {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  background-color: #fff;
  border-radius: 0.8rem;
}

.profile-img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-name {
  color: rgb(75, 73, 73);
  text-transform: capitalize;
  letter-spacing: 1px;
}

.btn {
  background-color: #49a6e9;
  border: transparent;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.5rem 0.6rem;
  border-radius: 7px;
}

.btn:hover {
  background-color: #377aaa;
  border: 2px solid #377aaa;
  cursor: pointer;
}

.profile-link {
  color: #fff;
  text-decoration: none;
}

.page-no-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.prev-btn,
.next-btn {
  color: hsl(205, 86%, 17%);
  background-color: transparent;
  border: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.page-no {
  padding: 0.6rem 0.8rem;
  border: transparent;
  background-color: hsl(205, 90%, 76%);
  cursor: pointer;
  border-radius: 0.3rem;
}

.active-page {
  background-color: hsl(205, 86%, 17%);
  color: #fff;
}
